* {
	box-sizing: border-box;
}

body {
	display: inline;
	background-image: url(../../assets/images/gray_jean/gray_jean/gray_jean.png);
	color: #777777;
}

header {

	height: 100px;
	background-color: #ffffff;
	
}

#header {
	clear: both;
}

#header h2 {
	float: left;
	margin-left: 78px;
	padding: 25px;
	background-color: #4aaaa5;
	color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

#header ul {
	float: left;
	text-decoration: none;
	margin-bottom: 29px;
	margin-left: 700px;
	margin-top: 28px;
}

#header li {

	display: inline;
	list-style-type: none;
}

#header a {
	text-decoration: none;
	color: #777777;
}
#main-bio {
	
}

#top li a {
	
}

#main-bio h1 {
	
}

#main-bio p {
	
}

.container {
	clear: both;
}


footer {
	background-color: #666666;

}

footer p {
	
}

